# The port the API will be accessible on
API_PORT=8000

POSTGRES_USER=myuser
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=media_database
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}